/* CSS Général */
@font-face {
    font-family: 'Lexend';
    src: url('../../assets/fonts/Lexend_standard/lexend_regular.woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Lexend';
}


.header-container {
    background-color: #2F2A85;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: #ECECF9;
    font-size: 20px;
    font-weight: 500;
}

.header-redirection {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 64px;
    height: auto;
}


.footer-container {
    background-color: #2F2A85;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ECECF9;
}

.footer-wrapper {
    width: 80%;
    display: flex;
    font-weight: bold;
    gap: 16px;
    font-size: 18px;
}

.w-35 {
    width: 35%;
}

.w-65 {
    width: 65%;
}

.footer-link {
    color: #ECECF9;
    font-weight: 300;
}

.footer-copyright {
    font-weight: 300;
    font-size: 14px;
}

/* CSS Contenu principal */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.main-title {
    font-size: 56px;
    line-height: 70px;
    color: #1B184E;
    text-align: center;
}

.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-self: center;
    margin-bottom: 64px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section img {
    height: 256px;
    width: auto;
}

.section p {
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
}

.section p span {
    color: #4D45DB;
}

.text-right {
    text-align: right;
}

@media screen and (min-width: 412px) and (max-width: 450px) and (min-height: 917px) and (max-height: 950px) {

    /* CSS Général */

    .header-container {
        /* min-height: 100px; */
        padding: 16px;
    }

    .header-wrapper {
        width: 100%;
        justify-content: space-evenly;
    }

    .header-logo {
        width: 58px;
    }

    .header-redirection {
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    .footer-wrapper {
        width: 100%;
        gap: 16px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer-wrapper ul {
        padding-left: 20px;
    }

    .w-35 {
        width: 35%;
    }

    .w-65 {
        width: 65%;
    }

    .footer-link {
        color: #ECECF9;
        font-weight: 300;
    }

    .footer-copyright {
        font-weight: 300;
        font-size: 14px;
    }

    /* CSS Contenu principal */

    .main-wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .main-title {
        font-size: 40px;
        line-height: 50px;
        text-align: left;
    }

    .main-content {
        width: 100%;
        gap: 32px;
        align-self: center;
        margin-bottom: 32px;
    }

    .section img {
        height: 116px;
        width: auto;
    }

    .section p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
}